<div class="container" ng-controller="myCtrl">
  <h1>GPA</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Student ID</td>
        <td>Last Name</td>
        <td>First Name</td>
        <td>GPA</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="student in tableData">
        <td ng-bind="student.id"></td>
        <td ng-bind="student.last_name"></td>
        <td ng-bind="student.first_name"></td>
        <td ng-bind="(student.gpa_points/student.credit_hrs).toFixed(1)"></td>
      </tr>
    </tbody>
  </table>
</div>
